body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background: #03045e;
}
.content-container {
  width: 25%;
  height: 25%;
  background: #ffff;
  border-radius: 8px;
  position: relative;
}
.timer {
  position: absolute;
  display: inline-block;
  width: 95%;
  height: 45%;
  background: #d3d3d3;
  margin: 2.5%;
  border-radius: 8px;
}
.timer h2 {
  font-family: "Outfit", sans-serif;
  font-size: 3rem;
  text-align: center;
  margin-top: 1%;
}
.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 27%;
}
.button button {
  border: none;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background: orangered;
}


